
  @import url("https://use.typekit.net/rvf7zub.css");


html {
  font-family: kandin, sans-serif;
font-weight: 400;
font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  text-align: right;
  background-color: #005AA3;
  color: #1B1760;
}

main {
  width: 1080px;
  background-color: #f2f5ff;
  z-index: 1;
  margin: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}

@media only screen and (max-width:1080px){
  html{
    font-size: 12px;
  }
  main{
    width:100%
  }
}

@media only screen and (max-width:720px){
  html{
    font-size: 10px;
  }
}

@media only screen and (max-width:720px){
  html{
    font-size: 8px;
  }
}

.backdrop{
  background-color:#1B1760;
}
